[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "spaceship-promt"]
	path = spaceship-promt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
