Host git.analogdream.io
    Hostname git.analogdream.io
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

Host github.com
    Hostname github.com
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

Host gitlab.tubit.tu-berlin.de
    Hostname gitlab.tubit.tu-berlin.de
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
